


<main role="main" class="col-md-6 offset-sm-4 col-12">
    <h1 class="text-center" style="color: #565FA7; margin-bottom: 50px;"><strong>MANAGERMENT EXCHANGE</strong></h1>
    <!-- <div class="text-right">
        <button class="btn btn-primary" style="background-color: #565FA7; margin-bottom: 15px;" type="submit" (click)="open(content)"> +Add</button>      
    </div> -->

    <div class="d-flex justify-content-end pb-3">
      <button type="button"  class="btn btn-sm btn-outline-secondary" (click)="open(content);">Add Exchange</button>
    </div>

    <ng-template #content let-modal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{contentTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #exchangeForm="ngForm" (ngSubmit)="onSubmit(exchangeForm)">
          <div class="form-group row">
            <label for="stockexchange" class="col-sm-3 col-form-label">stockexchange:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="stockexchange" name="stockexchange" [(ngModel)]="exchange.stockexchange" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="brief" class="col-sm-3 col-form-label">Brief:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="brief" name="brief" [(ngModel)]="exchange.brief" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-3 col-form-label">Contact address:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="exchange.address" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="remarks" class="col-sm-3 col-form-label">Remarks:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="remarks" name="remarks" [(ngModel)]="exchange.remarks" readonly>
            </div>
          </div>                
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Cancel click')">Cancel</button>
            <button type="submit" class="btn btn-outline-dark" >Save</button>
          </div>
        </form>
      </div>
    </ng-template>

    <form>
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stockexchange</th>
            <th scope="col">Brief</th>
            <th scope="col">Address</th>
            <th scope="col">Remarks</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exchange of exchanges$ | async">
              <th scope="row">{{ exchange.id }}</th>
              <td><ngb-highlight [result]="exchange.stockexchange"></ngb-highlight></td>
              <td><ngb-highlight [result]="exchange.brief"></ngb-highlight></td>
              <td><ngb-highlight [result]="exchange.address"></ngb-highlight></td>
              <td><ngb-highlight [result]="exchange.remarks"></ngb-highlight></td>
              <td><button class="btn btn-sm btn-outline-secondary" type="button" (click)="edit(content,exchange.id)">Edit</button></td>
            </tr>
          </tbody> 
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>
      
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </form>
</main>
