<header class="header">
    <div class="navbar navbar-fixed-top">
        <h1>Welcome</h1>
    </div>
</header>

<div class="container">
    <div class="col-md-6 offset-sm-3 col-12">
        <h4 class="mb-3">Create your Stock_Market Account</h4>

        <div class="mb-3">
            <label for="username">Username: </label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="email">Password:</label>
            <input type="email" class="form-control" id="email" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
                </div>
        </div>
        <div class="mb-3">
            <label for="email">Phone number:</label>
            <input type="email" class="form-control" id="email" placeholder="phone number">
        </div>  
        <div class="mb-3">
            <p style="color: blue;font-style: italic;"><u>Sign in</u></p>
        </div> 
        <button class="btn btn-lg btn-block" type="submit" style="background-color: #FEB19E;color: white; margin-top: 20px; font-size:20px;">Create</button>
    </div> 
</div>   
  
<footer class="footer">
    <div class="navbar-fixed-bottom">
        <p>@Stock Market Charting 2020</p>
    </div>
</footer>




