<main role="main" class="col-md-6 offset-sm-4 col-12">
    <h1 class="text-center" style="color: #565FA7; margin-bottom: 50px;"><strong>IMPORT DATA</strong></h1>
    <div id="content" style="width:80%">
      <form class="form-horizontal" enctype="multipart/form-data">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" accept=".xlsx" (change)="fileChange()" #fileinput>
            <label id="filename_label" class="custom-file-label" for="inputGroupFile04">Choose file</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-secondary" type="button" style="background-color: #565FA7; color: aliceblue;" id="inputGroupFileAddon04" (click)="fileUpload(fileinput)">Upload</button> 
          </div>
        </div>
      </form>
      <br>
      <div>
        <a href="javascript:;" (click)="downloadExcel()" >Click here to download sample Excel File</a>
      </div>
    </div>
</main> 
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Summary of Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="companyname" class="col-sm-3 col-form-label">Company Name</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="companyname" [value]="_summary.companyname">
      </div>
    </div>
    <div class="form-group row">
      <label for="stockexchange" class="col-sm-3 col-form-label">Stock Exchange</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="stockexchange" [value]="_summary.stockexchange">
      </div>
    </div>
    <div class="form-group row">
      <label for="numofimported" class="col-sm-3 col-form-label">Num of Record Imported</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="numofimported" [value]="_summary.numofimport">
      </div>
    </div>
    <div class="form-group row">
      <label for="fromdate" class="col-sm-3 col-form-label">From Date</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="fromdate" [value]="_summary.fromdate">
      </div>
    </div>
    <div class="form-group row">
      <label for="todate" class="col-sm-3 col-form-label">To Date</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="todate" [value]="_summary.todate">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Cancel click');">Close</button>
  </div>
</ng-template>


 




