
<main role="main" class="col-md-6 offset-sm-4 col-12">
 <!-- <div class="col-md-6 offset-sm-3 col-12" style="margin-top: 20px;"> -->
    <h1 class="text-center" style="color: #565FA7; margin-bottom: 5px;"><strong>UPDATE IPO DETAILS</strong></h1>
    <div class="form-group form-row">
        <label class="col-form-label col-3">User Name: </label>
        <div class="col-9">
            <input class="form-control col-12" name="name" type="text" placeholder="username" />
        </div>
    </div>
    <div class="form-group form-row">
        <label class="col-form-label col-3">Email: </label>
        <div class="col-9">
            <input class="form-control col-12" name="email" type="email" placeholder="email"/>
        </div>
    </div> 
    <div class="text-right">
        <button class="btn btn-primary" style="background-color: #565FA7; margin-bottom: 15px;" type="submit">Upload</button>        
    </div> 
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Change password
        </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
            <div class="card-body">
                <div class="form-group form-row">
                    <label class="col-form-label col-3">Old password: </label>
                    <div class="col-9">
                        <input class="form-control col-12" name="name" type="text" />
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-form-label col-3">New password: </label>
                    <div class="col-9">
                        <input class="form-control col-12" name="email" type="email" />
                    </div>
                </div> 
                <div class="text-right">
                    <button class="btn btn-primary" style="background-color: #565FA7; margin-bottom: 15px;" type="submit">Upload</button>        
                </div>
            </div>
        </div>
    </div>
</main>

